{% extends "base.html" %}

{% block content %}
  <h1>Name: {{ driver.username }}<a style="float: right" href="{% url 'taxi:driver-update' pk=driver.id %}">Edit</a></h1>
  <p><strong>First name: </strong>{{ driver.first_name }}</p>
  <p><strong>Last name: </strong>{{ driver.last_name }}</p>
  <p><strong>License plate: </strong>{{ driver.license_number }}</p>
  <div class="ml-3">
    <h3>Cars:</h3>
    {% for car in driver.cars.all %}
      <hr>
      <p class="text-muted">{{ car.id }}</p>
      <p>{{ car.model }}</p>
    {% empty %}
      <p>No car!</p>
    {% endfor %}
  </div>
  <div class="mt-3">
    <a class="btn btn-secondary btn-sm" href="{% url 'taxi:driver-update' pk=driver.id %}">
      Update
    </a>
    <a class="btn btn-danger btn-sm" href="{% url 'taxi:driver-delete' pk=driver.id %}">
      Delete
    </a>
  </div>
{% endblock %}
